# Database
DATABASE_URL="postgresql://neondb_owner:npg_MVeUsJk8j4RS@ep-broad-brook-an6n1ie8-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Backend
PORT=4000

# Telegram Bot
TELEGRAM_BOT_TOKEN="8878260053:AAFnUgkU_hjJRedU2SJq_a81proq7gwvB0U"
TELEGRAM_BOT_USERNAME="userdejenbot"
TELEGRAM_CHANNEL_ID="@userdejendejen"

# Mini App
VITE_BACKEND_URL="http://localhost:4000"

# Admin Dashboard
NEXT_PUBLIC_BACKEND_URL="http://localhost:4000"
